/* max-width: 1025px */
@media (min-width: 1025px) {
  .nav__item:hover,
  .header-tel:hover,
  .address__link:hover {
    color: #26c2cf;
  }
  .slick-arrow:hover,
  .scroll-up:hover {
    color: #26c2cf;
  }
  .standart-btn:hover {
    transform: scale(1.05);
    background-color: #28cbd9;
  }
  .articles-item:hover .articles__more {
    text-decoration: underline #bcbcbc;
    font-size: 18px;
  }
  .articles-open__back:hover {
    font-size: 18px;
  }
  .articles-open__back:hover:before {
    width: 7px;
    height: 7px;
  }
  .contacts__consent:hover span:before {
    background-color: #f7f7f7;
  }
  .icon-inst:hover {
    color: #ff29de;
  }
  .icon-fb:hover {
    color: #3b5998;
  }
  .icon-vb:hover {
    color: #574e92;
  }
  .icon-wa:hover {
    color: #00e676;
  }
  .footer a:hover {
    color: #fff;
    text-decoration: underline #fff;
  }
}

/********* max-width: 1399px *********/
@media (max-width: 1399px) {
  .header {
    padding: 0 15px;
  }
  .big-logo__img {
    width: 1110px;
  }
  .features {
    width: 1110px;
    margin-bottom: 150px;
  }
  .about {
    margin-bottom: 170px;
  }
  .about-item + .about-item {
    margin-top: 150px;
  }
  .about-text {
    padding-left: 15px;
    padding-right: 0;
    width: calc(50% - 5px);
  }
  .about-item:nth-of-type(even) .about-text {
    padding-right: 15px;
    padding-left: 0;
  }
  .gallery {
    margin-bottom: 170px;
  }
  .gallery-slider {
    height: 550px;
  }
  .gallery__item {
    height: 550px;
  }
  .clients {
    margin-bottom: 170px;
  }
  .price {
    margin-bottom: 170px;
  }
  .price-container {
    justify-content: center;
  }
  .price-item {
    width: 440px;
    padding: 60px 70px;
  }
  .price-item:first-of-type {
    padding-top: 75px;
  }
  .price-item:first-of-type .price__icons {
    margin-bottom: 25px;
  }
  .price__icons {
    margin-bottom: 40px;
  }
  .price__size {
    font-size: 48px;
  }
  .price__number {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .price__hookahs {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .price__workers {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .price__rate {
    font-size: 24px;
  }
  .price__rate:last-of-type {
    margin-bottom: 30px;
  }
  .articles {
    margin-bottom: 180px;
  }
  .articles-slider {
    height: 360px;
  }
  .articles-container {
    height: 360px;
  }
  .articles-open__photo {
    width: 175px;
    height: 175px;
  }
  .contacts {
    margin-bottom: 160px;
  }
  .address {
    max-width: 1110px;
    margin-bottom: 70px;
  }
}

/********* max-width: 1139px *********/
@media (max-width: 1139px) {
  .title-m {
    font-size: 36px;
  }
  .hamburger {
    display: block;
  }
  .nav {
    width: 100%;
    height: calc(100vh - 90px);
    position: absolute;
    top: 90px;
    left: 0;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .3s linear;
    transition-delay: 0s;
  }
  .nav-ul {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background-color: #3b3b3b;
    padding: 70px 0px;
    overflow-y: scroll;
  }
  .nav-li + .nav-li {
    margin-top: 30px;
  }
  .nav__item {
    color: #fff;
    font-size: 24px;
  }
  .big-logo {
    padding-top: 155px;
    height: 480px;
    margin-bottom: 20px;
  }
  .big-logo__img {
    width: 690px;
    margin-bottom: 40px;
  }
  .features {
    flex-wrap: wrap;
    width: 690px;
    margin-bottom: 95px;
  }
  .features-item {
    max-width: 50%;
    width: 50%;
    margin-bottom: 25px;
  }
  .about {
    margin-bottom: 100px;
  }
  .about-item {
    flex-wrap: wrap;
    height: auto;
  }
  .about-item + .about-item {
    margin-top: 100px;
  }
  .about-item:first-of-type .about-img img {
    right: -30px;
  }
  .about-img {
    width: 690px;
    height: 450px;
    margin-bottom: 60px;
  }
  .about-text {
    order: 1;
    width: 100%;
    max-width: 720px;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .about__title {
    display: none;
  }
  .about__title_tablet {
    text-align: center;
    display: block;
  }
  .about-item:nth-of-type(even) .about-text {
    padding-left: 15px;
    text-align: left;
    margin-left: 0;
  }
  .about-item:nth-of-type(even) .about__btn {
    margin-left: 0;
  }
  .gallery {
    margin-bottom: 100px;
  }
  .clients {
    margin-bottom: 100px;
  }
  .clients-slider {
    height: 110px;
  }
  .clients__item {
    width: 210px;
    height: 111px;
  }
  .price {
    margin-bottom: 100px;
  }
  .price-background {
    top: 0;
  }
  .price-container {
    max-width: 720px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  .price-item {
    margin-left: 0px;
    width: 330px;
    padding: 40px 50px 45px;
  }
  .price-item:first-of-type {
    padding-top: 55px;
  }
  .price__icons img {
    height: 80px;
  }
  .price__number {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .price__hookahs {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .price__workers {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .price__rate {
    font-size: 20px;
    line-height: 1.3;
  }
  .price__rate:last-of-type {
    margin-bottom: 20px;
  }
  .price__btn {
    height: 40px;
  }
  .events {
    margin-bottom: 190px;
  }
  .events-title {
    padding: 0 15px;
  }
  .events-slider {
    margin-top: -110px;
    padding: 0 15px;
  }
  .events-container {
    height: 400px;
  }
  .events-item {
    width: 330px;
    height: 185px;
  }
  .articles {
    margin-bottom: 100px;
  }
  .articles-title {
    padding: 0 15px;
  }
  .articles-container {
    flex-direction: column;
    height: auto;
  }
  .articles-slider {
    width: 720px;
    padding: 0 15px;
    margin-right: 0;
    margin-bottom: 70px;
  }
  .articles-slider .slider-container.hide .slick-prev {
    transform: translateX(calc(0% - 5px)) scale(0.01);
  }
  .articles-slider .slider-container.hide .slick-next {
    transform: translateX(calc(100% + 5px)) scale(0.01);
  }
  .articles-img {
    width: 690px;
    height: 460px;
    margin-right: 0;
  }
  .articles .slick-prev {
    top: auto;
    bottom: -65px;
    right: 50%;
    transform: translateX(calc(0% - 5px));
  }
  .articles .slick-prev .icon-slick-prev {
    transform: rotate(0);
  }
  .articles .slick-prev:active {
    transform: translateX(calc(0% - 5px)) scale(0.9);
  }
  .articles .slick-next {
    top: auto;
    bottom: -65px;
    right: 50%;
    transform: translateX(calc(100% + 5px));
  }
  .articles .slick-next .icon-slick-next {
    transform: rotate(0);
  }
  .articles .slick-next:active {
    transform: translateX(calc(100% + 5px)) scale(0.9);
  }
  .address {
    max-width: 720px;
    height: auto;
    padding: 0 15px;
    margin-bottom: 45px;
  }
  .address-item {
    width: 50%;
    margin-bottom: 25px;
  }
  .address-item p {
    margin-bottom: 10px;
  }
  .contacts {
    margin-bottom: 70px;
  }
  .contacts-container {
    height: auto;
    padding-left: 0;
    flex-wrap: wrap;
  }
  .contacts-form {
    width: 720px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts-form.animate .contacts__name {
    width: calc(50% - 15px);
    opacity: 1;
  }
  .contacts-form.animate .contacts__communication {
    width: calc(50% - 15px);
    opacity: 1;
  }
  .contacts-img {
    height: 45vw;
    width: 100%;
  }
  .contacts-img img {
    width: 100%;
  }
  .contacts__name {
    margin-right: 30px;
    width: calc(50% - 15px);
    opacity: 0;
  }
  .contacts__communication {
    margin-top: 0;
    width: calc(50% - 15px);
    opacity: 0;
  }
  .footer {
    height: 190px;
    padding-top: 30px;
    display: block;
  }
  .footer .wrapper {
    align-items: center;
    justify-content: center;
  }
  .footer__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
  .footer__copyrights {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  .footer a + a {
    margin-left: 30px;
  }
  .modal .contacts-form {
    width: 500px;
    padding: 70px 60px;
  }
  .modal .contacts__communication {
    width: 100%;
    margin-top: 27px;
  }
  .modal .contacts__name {
    margin-right: 0;
    width: 100%;
  }
}

/********* max-width: 719px *********/
@media (max-width: 719px) {
  .slick-arrow {
    width: 36px;
    height: 36px;
    font-size: 20px;
  }
  .title-l {
    font-size: 40px;
  }
  .nav__item {
    font-size: 20px;
  }
  .big-logo {
    padding-top: 195px;
    height: 570px;
  }
  .big-logo__img {
    width: 330px;
    margin-bottom: 180px;
  }
  .features {
    width: 330px;
    margin-bottom: 70px;
  }
  .features-item {
    max-width: 100%;
    width: 100%;
  }
  .about {
    margin-bottom: 80px;
  }
  .about-item + .about-item {
    margin-top: 80px;
  }
  .about-item:nth-of-type(2) .about-img img {
    left: -50px;
  }
  .about-item:nth-of-type(3) .about-img img {
    right: -85px;
    width: 145%;
  }
  .about-img {
    width: 330px;
    height: 215px;
    margin-bottom: 30px;
  }
  .about-text {
    max-width: 360px;
  }
  .about__title {
    margin-bottom: 25px;
  }
  .about__description {
    max-height: 168px;
    overflow: hidden;
    transition: max-height .3s;
  }
  .about__description.show {
    max-height: 600px;
  }
  .about__more {
    display: block;
    margin-top: 15px;
  }
  .gallery {
    margin-bottom: 80px;
  }
  .gallery-title {
    margin-bottom: 20px;
  }
  .gallery-slider {
    height: 255px;
  }
  .gallery__item {
    height: 255px;
  }
  .clients {
    margin-bottom: 80px;
  }
  .clients-slider {
    height: 78px;
  }
  .clients__item {
    width: 148px;
    height: 78px;
  }
  .price {
    margin-bottom: 80px;
  }
  .price-title {
    margin-bottom: 30px;
  }
  .price-container {
    max-width: 360px;
  }
  .events {
    margin-bottom: 130px;
  }
  .events-container {
    height: 200px;
  }
  .events-slider {
    margin-top: -70px;
  }
  .events-item {
    width: 180px;
    height: 100px;
  }
  .articles {
    margin-bottom: 80px;
  }
  .articles-slider {
    height: 350px;
    width: 360px;
    margin-bottom: 55px;
  }
  .articles-item {
    height: 350px;
  }
  .articles-photo {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .articles-content {
    width: 100%;
  }
  .articles-img {
    width: 330px;
    height: 220px;
  }
  .articles .slick-slide {
    margin-bottom: 0;
  }
  .articles .slick-prev {
    bottom: -78px;
  }
  .articles .slick-next {
    bottom: -78px;
  }
  .articles-open__photo {
    float: none;
    width: 100%;
    height: 160px;
  }
  .address {
    width: 360px;
  }
  .address-item {
    width: 100%;
  }
  .scroll-up {
    width: 36px;
    height: 36px;
    font-size: 18px;
  }
  .contacts-form {
    width: 360px;
  }
  .contacts-form.animate .contacts__name {
    width: 100%;
  }
  .contacts-form.animate .contacts__communication {
    width: 100%;
  }
  .contacts-form .title-m {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .contacts__name {
    width: 51%;
    margin-right: 0;
  }
  .contacts__communication {
    width: 51%;
    margin-top: 20px;
  }
  .contacts__text {
    margin-top: 20px;
  }
  .contacts__consent span::before {
    top: 10px;
  }
  .contacts__consent input:checked + span:after {
    top: 14px;
  }
  .contacts-btn {
    margin-top: 20px;
  }
  .footer {
    height: 225px;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__logo img {
    width: 226px;
  }
  .footer__copyrights {
    margin-bottom: 10px;
  }
  .footer a {
    width: 100%;
    text-align: center;
  }
  .footer a + a {
    margin-left: 0;
    margin-top: 5px;
  }
  .modal__title {
    font-size: 28px;
  }
  .modal .contacts-form {
    max-width: 360px;
    padding: 45px 30px;
    border-radius: 0;
  }
  .modal .contacts__name {
    margin-top: 25px;
  }
  .modal .contacts__communication {
    margin-top: 20px;
  }
  .modal .contacts__text {
    margin-top: 20px;
  }
  .modal__btn {
    margin-top: 25px;
  }
}
