/* max-width: 1025px */

@media (min-width: 1025px){
	.nav__item:hover,
	.header-tel:hover,
	.address__link:hover {
		color: #26c2cf;
	}
	.slick-arrow:hover,
	.scroll-up:hover {
		color: #26c2cf;
	}
	.standart-btn:hover {
		transform: scale(1.05);
		background-color: #28cbd9;
	}
	.articles-item:hover {
		.articles__more {
			text-decoration: underline #bcbcbc;
			font-size: 18px;
		}
	}
	.articles-open__back:hover {
		font-size: 18px;
		&:before {
			width: 7px;
			height: 7px;
		}
	}
	.events-item:hover {
		.events-item__play path:first-of-type {
			moz-transition: fill .1s cubic-bezier(0.0,0.0,0.2,1),fill-opacity .1s cubic-bezier(0.0,0.0,0.2,1);
	    -webkit-transition: fill .1s cubic-bezier(0.0,0.0,0.2,1),fill-opacity .1s cubic-bezier(0.0,0.0,0.2,1);
	    transition: fill .1s cubic-bezier(0.0,0.0,0.2,1),fill-opacity .1s cubic-bezier(0.0,0.0,0.2,1);
	    fill: #f00;
	    fill-opacity: 1;
		}
	}
	.contacts__consent:hover span:before {
		background-color: #f7f7f7;
	}
	.icon-inst:hover {
		color: #ff29de;
	}
	.icon-fb:hover {
		color: #1e79f3;
	}
	.icon-vb:hover {
		color: #9369ff;
	}
	.icon-wa:hover {
		color: #00e676;
	}
	.footer a:hover {
		color: #fff;
		text-decoration: underline #fff;
	}
}

/********* max-width: 1399px *********/

@media (max-width: 1399px) {
	.header {
		padding: 0 15px;
	}
	.big-logo__img {
		width: 1110px;
	}
	.features {
		width: 1110px;
		margin-bottom: 150px;
	}
	.about {
		margin-bottom: 170px;
		&-item {
			& + .about-item {
				margin-top: 150px;
			}
		}
		&-text {
			padding-left: 15px;
			padding-right: 0;
			width: calc(50% - 5px);
		}
	}
	.about-item:nth-of-type(even) .about-text {
		padding-right: 15px;
		padding-left: 0;
	}
	.gallery {
		margin-bottom: 170px;
		&-slider {
			height: 550px;
		}
		&__item {
			height: 550px;
		}
	}
	.clients {
		margin-bottom: 170px;
	}
	.price {
		margin-bottom: 170px;
		&-container {
			justify-content: center;
		}
		&-item {
			width: 440px;
			padding: 60px 70px;
			&:first-of-type {
				padding-top: 75px;
				.price__icons {
					margin-bottom: 25px;
				}
			}
		}
		&__icons {
			margin-bottom: 40px;
		}
		&__size {
			font-size: 48px;
		}
		&__number {
			font-size: 16px;
			margin-bottom: 40px;
		}
		&__hookahs {
			font-size: 18px;
			margin-bottom: 10px;
		}
		&__workers {
			font-size: 18px;
			margin-bottom: 40px;
		}
		&__rate {
			font-size: 24px;
			&:last-of-type {
				margin-bottom: 30px;
			}
		}
	}
	.articles {
		margin-bottom: 180px;
		&-slider {
			height: 360px;
		}
		&-container {
			height: 360px;
		}
		&-open {
			&__photo {
				width: 175px;
				height: 175px;
			}
		}
	}
	.address {
		max-width: 1110px;
		margin-bottom: 70px;
	}
}

/********* max-width: 1139px *********/

@media (max-width: 1139px) {
	.title-m {
		font-size: 36px;
	}
	.hamburger {
		display: block;
	}
	.header {
		&-tablet-bg {
			display: block;
		}
	}
	.nav {
		width: 100%;
		height: calc(100vh - 90px);
		position: absolute;
		top: 90px;
		left: 0;
		max-height: 0px;
		overflow: hidden;
		transition: max-height .3s linear;
		transition-delay: 0s;
		&-ul {
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 1;
			flex-direction: column;
			justify-content: flex-start;
			flex-wrap: nowrap;
			background-color: #3b3b3b;
			padding: 70px 0px;
		}
		&-li {
			& + .nav-li {
				margin-top: 30px;
			}
		}
		&__item {
			color: #fff;
			font-size: 24px;
		}
	}
	.big-logo {
		padding-top: 155px;
		height: 480px;
		margin-bottom: 20px;
		&__img {
			width: 690px;
			margin-bottom: 40px;
		}
	}
	.features {
		flex-wrap: wrap;
		width: 690px;
		margin-bottom: 95px;
		&-item {
			max-width: 50%;
			width: 50%;
			margin-bottom: 25px;
		}
	}
	.about {
		margin-bottom: 100px;
		&-item {
			flex-wrap: wrap;
			height: auto;
			& + .about-item {
				margin-top: 100px;
			}
			&:first-of-type {
				.about-img {
					img {
						right: -30px;
					}
				}
			}
		}
		&-img {
			width: 690px;
			height: 450px;
			margin-bottom: 60px;
		}
		&-text {
			order: 1;
			width: 100%;
			max-width: 720px;
			margin-right: 0;
			padding-left: 15px;
			padding-right: 15px;
		}
		&__title {
			display: none;
		}
		&__title_tablet {
			text-align: center;
			display: block;
		}
	}
	.about-item:nth-of-type(even) .about-text {
		padding-left: 15px;
		text-align: left;
		margin-left: 0;
	}
	.about-item:nth-of-type(even) .about__btn {
		margin-left: 0;
	}
	.gallery {
		margin-bottom: 100px;
	}
	.clients {
		margin-bottom: 100px;
		&-slider {
			height: 110px;
		}
		&__item {
			width: 210px;
			height: 111px;
		}
	}
	.price {
		margin-bottom: 100px;
		&-background {
			top: 0;
		}
		&-container {
			max-width: 720px;
			padding: 0 15px;
			margin-left: auto;
			margin-right: auto;
			justify-content: space-between;
		}
		&-item {
			margin-left: 0px;
			width: 330px;
			padding: 40px 50px 45px;
			&:first-of-type {
				padding-top: 55px;
			}
		}
		&__icons {
			img {
				height: 80px;
			}
		}
		&__number {
			font-size: 14px;
			margin-bottom: 30px;
		}
		&__hookahs {
			font-size: 16px;
			margin-bottom: 5px;
		}
		&__workers {
			font-size: 16px;
			margin-bottom: 30px;
		}
		&__rate {
			font-size: 20px;
			line-height: 1.3;
			&:last-of-type {
				margin-bottom: 20px;
			}
		}
		&__btn {
			height: 40px;
		}
	}
	.events {
		margin-bottom: 190px;
		&-title {
			padding: 0 15px;
		}
		&-slider {
			margin-top: -110px;
	    padding: 0 15px;
	  }
		&-container {
			height: 400px;
		}
		&-item {
			width: 330px;
			height: 185px;
		}
	}
	.articles {
		margin-bottom: 100px;
		&-title {
			padding: 0 15px;
		}
		&-container {
			flex-direction: column;
			height: auto;
		}
		&-slider {
			width: 720px;
			padding: 0 15px;
			margin-right: 0;
			margin-bottom: 70px;
			&.hide {
				.slick-prev {
					transform: translateX(-5px) scale(0.01);
				}
				.slick-next {
					transform: translateX(65px) scale(0.01);
				}
			}
		}
		&-img {
			width: 690px;
			height: 460px;
			margin-right: 0;
		}
		.slick-prev {
	    top: auto;
	    bottom: -65px;
	    right: 50%;
	    transform: translateX(-5px);
	    .icon-slick-prev {
	    	transform: rotate(0);
	    }
	    &:active {
	    	transform: translateX(-5px) scale(0.9);
	    }
		}
		.slick-next {
	    top: auto;
	    bottom: -65px;
	    right: 50%;
	    transform: translateX(65px);
	    .icon-slick-next {
	    	transform: rotate(0);
	    }
	    &:active {
	    	transform: translateX(65px) scale(0.9);
	    }
		}
	}
	.address {
		max-width: 720px;
		height: auto;
		padding: 0 15px;
		margin-bottom: 45px;
		&-item {
			width: 50%;
			margin-bottom: 25px;
			p {
				margin-bottom: 10px;
			}
		}
	}
	.contacts {
		margin-bottom: 70px;
		&-container {
			height: auto;
			padding-left: 0;
			flex-wrap: wrap;
		}
		&-form {
			width: 720px;
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 60px;
			margin-left: auto;
			margin-right: auto;
			&.animate {
				.contacts__name {
					width: calc(50% - 15px);
					opacity: 1;
				}
				.contacts__communication {
					width: calc(50% - 15px);
					opacity: 1;
				}
			}
		}
		&-img {
			height: 45vw;
			width: 100%;
			img {
				width: 100%;
			}
		}
		&__name {
			margin-right: 30px;
			width: calc(50% - 15px);
			opacity: 0;
		}
		&__communication {
			margin-top: 0;
			width: calc(50% - 15px);
			opacity: 0;
		}
	}
	.footer {
		height: 190px;
		padding-top: 30px;
		display: block;
		.wrapper {
			align-items: center;
			justify-content: center;
		}
		&__logo {
			width: 100%;
			text-align: center;
			margin-bottom: 25px;
		}
		&__copyrights {
			width: 100%;
			text-align: center;
			margin-bottom: 5px;
		}
		a {
			& + a {
				margin-left: 30px;
			}
		}
	}
	.modal {
		.contacts-form {
			width: 500px;
			padding: 70px 60px;
		}
		.contacts__communication {
			width: 100%;
			margin-top: 27px;
		}
		.contacts__name {
			margin-right: 0;
			width: 100%;
		}
	}
}

/********* max-width: 719px *********/

@media (max-width: 719px) {
	.slick-arrow {
		width: 36px;
		height: 36px;
		font-size: 20px;
	}
	.title-l {
		font-size: 48px;
	}
	.nav {
		&__item {
			font-size: 20px;
		}
	}
	.big-logo {
		padding-top: 195px;
		height: 570px;
		&__img {
			width: 330px;
			margin-bottom: 180px;
		}
	}
	.features {
		width: 330px;
		margin-bottom: 70px;
		&-item {
			max-width: 100%;
			width: 100%;
		}
	}
	.about {
		margin-bottom: 80px;
		&__btn {
			margin-left: auto;
			margin-right: auto;
		}
		&-item {
			& + .about-item {
				margin-top: 80px;
			}
			&:nth-of-type(even) {
				.about__btn {
					margin-left: auto;
					margin-right: auto;
				}
			}
			&:nth-of-type(2) {
				.about-img {
					img {
						left: -50px;
					}
				}
			}
			&:nth-of-type(3) {
				.about-img {
					img {
						right: -85px;
    				width: 145%;
					}
				}
			}
		}
		&-img {
			width: 330px;
			height: 215px;
			margin-bottom: 30px;
		}
		&-text {
			max-width: 360px;
		}
		&__title {
			margin-bottom: 25px;
		}
		&__description {
			max-height: 168px;
			overflow: hidden;
			transition: max-height .3s;
			&.show {
				max-height: 600px;
			}
		}
		&__more {
			display: block;
			margin-top: 15px;
		}
	}
	.gallery {
		margin-bottom: 80px;
		&-title {
			margin-bottom: 20px;
		}
		&-slider {
			height: 255px;
		}
		&__item {
			height: 255px;
		}
	}
	.clients {
		margin-bottom: 80px;
		&-slider {
			height: 78px;
		}
		&__item {
			width: 148px;
			height: 78px;
		}
	}
	.price {
		margin-bottom: 80px;
		&-title {
			margin-bottom: 30px;
		}
		&-container {
			max-width: 360px;
		}
	}
	.events {
		margin-bottom: 130px;
		&-container {
			height: 56vw;
		}
		&-slider {
			margin-top: -70px;
		}
		&-item {
			width: 180px;
			height: 100px;
		}
	}
	.articles {
		margin-bottom: 80px;
		&-slider {
			height: 350px;
			width: 360px;
			margin-bottom: 55px;
			transition: height .3s;
			transition-delay: 0s;
			&.hide {
				height: 600px;
				transition-delay: .3s;
				.slick-arrow {
					transition-delay: 0s;
				}
			}
			.slick-arrow {
				transition-delay: .3s;
			}
		}
		&-item {
			height: 350px;
		}
		&-photo {
			width: 100%;
			margin-right: 0;
			margin-bottom: 10px;
		}
		&-content {
			width: 100%;
		}
		&-img {
			width: 330px;
			height: 220px;
		}
		.slick-slide {
			margin-bottom: 0;
		}
		.slick-prev {
			bottom: -78px;
		}
		.slick-next {
			bottom: -78px;
			transform: translateX(41px);
		}
		&-open {
			&__photo {
				float: none;
				width: 100%;
				height: 160px;
			}
		}
	}
	.address {
		width: 360px;
		&-item {
			width: 100%;
		}
	}
	.scroll-up {
		width: 36px;
		height: 36px;
		font-size: 18px;
	}
	.contacts {
		&-form {
			width: 360px;
			&.animate {
				.contacts__name {
					width: 100%;
				}
				.contacts__communication {
					width: 100%;
				}
			}
			.title-m {
				font-size: 30px;
				margin-bottom: 25px;
			}
		}
		&__name {
			width: 51%;
			margin-right: 0;
		}
		&__communication {
			width: 51%;
			margin-top: 20px;
		}
		&__text {
			margin-top: 20px;
		}
		&__consent {
			span::before {
				top: 10px;
			}
			input:checked + span:after {
				top: 14px;
			}
		}
		&-btn {
			margin-top: 20px;
		}
	}
	.footer {
		height: 225px;
		&__logo {
			margin-bottom: 20px;
			img {
				width: 226px;
			}
		}
		&__copyrights {
			margin-bottom: 10px;
		}
		a {
			width: 100%;
			text-align: center;
			& + a {
				margin-left: 0;
				margin-top: 5px;
			}
		}
	}
	.modal {
		&__title {
			font-size: 28px;
		}
		.contacts-form {
			max-width: 360px;
			padding: 45px 30px;
			border-radius: 0;
		}
		.contacts__name {
			margin-top: 25px;
		}
		.contacts__communication {
			margin-top: 20px;
		}
		.contacts__text {
			margin-top: 20px;
		}
		&__btn {
			margin-top: 25px;
		}
	}
}